@import './Calculator.scss';

$calculator-screen-width: 100%;

.calculatorScreen {
    height: 80px;
    width: $calculator-screen-width;
    font-size: 23px;
    color: white;
}

.screenInput {
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    width: calc($calculator-screen-width);
    font-size: 18px;
    text-align: right;
    padding: 10px;
}
